*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.mainSec{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.midSec{
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.form input, .form button{
    font-size: 1.4rem;
}
.dataSec{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.dataSec ul{
    overflow-y: scroll;
}
.dataSec ul li{
    height: 5rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer div{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer div:nth-child(2){
    height: 70%;
    justify-content: end;
}
.footer div:nth-child(2) .box{
    width: 30%;
    height: 70%;
    background-color: yellowgreen;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
